@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/*Colours:*/
:root {
    --background: 0, 0%, 100%;
    --text: 0, 0%, 0%;
    --scouts-blue: 211, 100%, 44%;
    --scouts-purple: 269, 84%, 47%;
    --scouts-yellow: 53, 100%, 58%;
    --blue-hover: 210, 100%, 20%;
    --yellow-hover: 53, 100%, 48%;
    --light-grey: 0, 0%, 95%;
}

@media (min-width: 768px) {
    html {
        font-size: 120%;
    }
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.55;
    max-width: 2000px;
    margin: auto;
    background-color: hsl(var(--background));
    color: hsl(var(--text));
}

p {
    padding-bottom: var(--size-4);
}

li {
    list-style: none;
}

.wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: grid;
    gap: var(--size-fluid-5);
    padding: var(--size-fluid-5) var(--size-fluid-2)
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.container-sm {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-xs {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/*Utility classes:*/
.text-blue {
    color: hsl(var(--scouts-blue));
}

.text-white {
    color: white;
}

.h1 {
    font-size: var(--font-size-fluid-2);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: var(--size-4);
}

.h2 {
    font-size: var(--font-size-fluid-1);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: var(--size-4);
}

.h3 {
    font-size: var(--font-size-fluid-0);
    font-weight: 500;
    line-height: 1.1;
}

small {
    font-size: var(--font-size-fluid-00);
}

.grid-sm {
    display: grid;
    place-items: center;
    gap: var(--size-fluid-1);
}

.grid-md {
    display: grid;
    place-items: center;
    gap: var(--size-fluid-3);
}

.grid-lg {
    display: grid;
    place-items: center;
    align-items: center;
    gap: var(--size-fluid-3);
}

/*Components*/

/*Button*/

.btn {
    color: hsl(var(--text));
    text-decoration: none;
    padding: var(--size-2) var(--size-fluid-3);
    border-radius: var(--radius-2);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.btn--primary {
    background-color: hsl(var(--scouts-blue));
    color: white;
}

:hover.btn--primary {
    background-color: hsl(var(--blue-hover));
}

.btn--secondary {
    background-color: hsl(var(--scouts-yellow));
    color: hsl(var(--text));
}

:hover.btn--secondary {
    background-color: hsl(var(--yellow-hover));
}

.btn--menu {
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    padding-inline: var(--size-2);
}

.btn--menu[aria-expanded="true"] + .nav-links {
    transform: translateY(0);
}

/*Nav*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-fluid-1) var(--size-fluid-2);
}

.nav-links,
.nav-container {
    display: flex;
    align-items: center;
    gap: var(--size-3);
}

.nav-links {
    flex-direction: column;
    transform: translateY(-200%);
    position: absolute;
    background-color: hsl(var(--background));
    top: var(--size-fluid-6);
    left: 0;
    right: 0;
    text-align: center;
    padding: var(--size-2);
    border-bottom: 2px solid hsl(var(--scouts-blue));
}

li[role="none"],
.nav-link {
    width: 100%;
    display: block;
    font-size: var(--font-size-1);
}

.logo {
    width: calc(var(--size-fluid-9) * 0.75);
}

.footer-logo {
    width: calc(var(--size-fluid-8) * 0.7);
}

@media (min-width: 900px) {
    .nav-wrapper {
        gap: var(--size-3);
    }
    .btn--menu {
        display: none;
    }
    .btn--close {
        display: none;
    }
    .nav-links {
        flex-direction: row;
        position: static;
        transform: translateY(0);
        border: none;
        padding: 0;
        inset: initial;
        background-color: transparent;
    }
}
.hero-background {
    background-image: url("/images/smesu-background.webp");
    height: 1200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--size-8), 0;
}
@media (max-width: 1200px) {
    .hero-background {
        height: 100%;
    }
}

.hero-textbox {
    max-width: 50%;
    padding: var(--size-6) var(--size-4);
    margin: var(--size-11) var(--size-1);
    background-color: hsl(var(--scouts-blue), 0.6);
    color: white;
    align-content: center;
    line-height: var(--size-10);
}

@media (max-width: 1500px) {
    .hero-textbox {
        max-width: 60%;
        margin: var(--size-11) var(--size-4);
    }
}

@media (max-width: 900px) {
    .hero-textbox {
        max-width: 100%;
        margin: var(--size-11) var(--size-4);
    }
}

.about-us {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-3);
    padding: var(--size-6) 0;
    text-align: left;
}

@media (min-width: 900px) {
    .about-us {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.about {
    background-color: hsl(var(--light-grey));
}

.card-text {
    padding: var(--size-3) var(--size-4);
}

.card-image {
    width: auto;
    height: auto;
}

.image-banner {
    width: 100%;
    height: auto;
    background-image: url("/images/banner-map.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
    padding: var(--size-4), 0;
    /* border-radius: var(--radius-2); */
}

.banner-text {
    color: hsl(var(--light-grey));
    padding: var(--size-8) var(--size-4);
    margin: var(--size-6) auto;
    text-align: center;
    max-width: 100%;
    background-color: hsl(var(--text), 0.8);
    /* border-radius: var(--radius-2); */
}

.text-box {
    padding: var(--size-8);
}

section {
    text-align: center;
}

footer {
    display: grid;
    padding: var(--size-3);
    background-color: hsl(var(--scouts-purple));
    color: hsl(var(--light-grey));
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: var(--font-size-fluid-0);
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-fluid-3) 0 var(--size-fluid-2) 0;
}

@media (min-width: 768px) {
    .footer-nav {
        flex-direction: row;
        padding: var(--size-fluid-2) 0 var(--size-fluid-1) 0;
    }
}

.footer-link {
    color: hsl(var(--light-grey));
    text-decoration: underline;
    font-weight: 500;
}

.footer-link:hover {
    color: hsl(var(--scouts-yellow));
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
}
.social-icon {
    color: white;
    display: block;
    height: 30px;
    width: 30px;
    padding: var(--size-0);
}

.social-icon:hover {
    color: hsl(var(--scouts-yellow));
}

@media (max-width: 768px) {
    .social-links {
        padding: var(--size-fluid-2) 0 var(--size-fluid-1) 0;
    }
}