---
import Button from "./Button.astro"
---
<section id="contact-us" class="container-sm">
    <div>
        <h2>Want to learn more?</h2>
        <p>Don't hesitate to get in touch and one of our leaders will be happy to email or call you to answer any questions you may have.</p>
        <Button 
            text="Contact Us"
            link="/contact"
            style="primary"
            />
    </div>
</section>