---
import Button from "./Button.astro"
import Navbar from "./Navbar.astro"
---
<header>
    <div class="hero-background">
        <Navbar/>
    <div class="hero-textbox">
        <h1 class="h1">
            Welcome to SMESU Explorer Scouts, Edinburgh
        </h1>
        <h2 class="h2">
            Adventure awaits
        </h2>
        <Button 
            text="Join SMESU"
            link="#"
            style="secondary"
            />
    </div>
    </div>

</header>