---
import Button from "./Button.astro"
---

<section id="sign-up" class="container about card-text text-box">
    <h2>Ready to join the adventure?</h2>
    <p>When you're ready to take the leap, sign up through our online form.</p>
    <Button 
            text="Join SMESU"
            link="/registration"
            style="primary"
            />
</section>