---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
---

<Layout title="Welcome to SMESU Explorers.">
	<Hero />
	<main>
		<AboutUs />
	</main>
</Layout>
