---
import data from '../data/about-us.json';
---
<section class="about-us container-sm">
    {
        data.map(about => (
            <div class="about">
                <div>
                    <img src={about.image} alt="">
                </div>
                <div>
                    <h3>
                        {about.title}
                    </h3>
                    <p>
                        {about.content}
                    </p>
                </div>
            </div>
        ))
    }
</section>