---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import ContactForm from '../components/forms/ContactForm.astro';
---

<Layout title="Get in touch.">
    <Navbar/>
	<main>
        <h1>
            Contact Us
        </h1>
        <ContactForm />
	</main>
</Layout>