---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
---

<Layout title="Get in touch.">
    <Navbar/>
	<main>
        <h1>
            Contact Us
        </h1>
	</main>
</Layout>