---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import SignUp from '../components/SignUp.astro';
import ContactUs from '../components/ContactUs.astro';
---

<Layout title="Welcome to SMESU Explorers.">
	<Hero />
	<main>
		<AboutUs />
		<!-- <ContactUs /> -->
		<SignUp />
	</main>
</Layout>
