---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
import WaitingList from '../components/forms/WaitingList.astro';
---

<Layout title="Get in touch.">
    <Navbar/>
	<main class="container">
        <h1>
            Sign up
        </h1>
        <p>
            Register your interest by completing our online form and one of our leaders will be in touch with more information.
        </p>
        <WaitingList />
	</main>
</Layout>