---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";
---

<Layout title="Get in touch.">
    <Navbar/>
	<main>
        <h1>
            Sign up
        </h1>
        <p>
            Register your interest by completing our online form and one of our leaders will be in touch with more information.
        </p>
	</main>
</Layout>